html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
.active {
    font-weight: bold;
}
  
.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none; 
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.logbar {
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	text-decoration: none;
  	width: 300px;
}

.nav li:first-child {
    padding-left: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.logbar {
	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	text-decoration: none;
  	width: 300px;
}

.btn {
    margin: 15px auto;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.29);
    cursor: pointer;
    background: #fff;
    font-size: 12px;
    width: 250px;
    position: relative;
}

.card-box {
    width: 590px;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 0 auto; 
}

.login-title {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    height: 30%;
    font-size: 20px;
    justify-content: center;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    text-align: center;
}

.login-title div {
    padding-top: 5px;
    font-size: 15px;
}

.login-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid #dad7d7;
    border-radius: 3px;
    height: 70%;
    padding: 10px;
    justify-content: center;
}

.login-form {
    text-align: center;
}

.user-selector {
    margin: 15px auto;
    padding: 5px;
    cursor: pointer;
    background: #fff;
    font-size: 12px;
    width: 250px;
    position: relative;
}

